<%- include ('../partials/head') %>
<body>
    <%- include ('../partials/go-home') %>
    <figure>
        <img src="/img/tomato.png">
    </figure>
    <h1>
        LISTADO DE PELÍCULAS
    </h1>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
            <li>
                <a href="/movies/detail/<%= movies[i].id %>">
                    <%= movies[i].title %>
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>