<%- include ('../partials/head') %>
<body>
    <%- include ('../partials/go-home') %>
    <figure>
        <img src="/img/tomato.png">
      </figure>
    <h1>LISTADO DE GÉNEROS</h1>
    <ul>
        <% for( let i = 0; i < genres.length; i++ ) { %>
        <li>
            <a href="/genres/detail/<%= genres[i].id %>"><%= genres[i].name %></a>
        </li>
        <% } %>
    </ul>
</body>
</html>