* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input, select {
  font: inherit;
  padding: 5px;
  width: 40%;
}

label {
  font-weight: 600;
}

img{
  width: 100%;
}

figure{
  width: 100%;
  margin: 5% 0;
}

h1 {
  margin: 2% 0;
}

p {
  padding: 5px 0;
}

li {
  display: block;
  padding: 5px 0;
}

.body-box {
  display: flex;
  flex-flow: row wrap;
}

.img-box {
  width: 20%;
}

.content-box {
  flex-grow: 3;
  padding-left: 2%;
}

.box-me {
  box-shadow: 0 0 2px black;
  width: 50%;
  padding: 1% 1%;
  margin: 1% 0;
}

.navigation {
  width: 100%;
}

.submit-button {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: inherit;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 2px black;
  padding: 1.5%;
}

.submit-button:hover {
  text-decoration: underline;
  box-shadow: inset 0 0 20px #00B7FF;
}

.error-msg {
  display: block;
  color: red;
}

.error-input {
  border: 1px red solid;
}

.error-input:focus {
  outline: red;
}

.cool-link {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.cool-link:hover {
  color: #00B7FF;
  text-decoration: underline;
  font-style: italic;
}

.red-link {
  cursor: pointer;
}

.red-link:hover {
  color: red;
}

.control-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.remove-style {
  border: none;
  background: none;
  font: inherit;
}

.indentate-me {
  text-indent: 5%;
}