<%- include ('./partials/head') %>
<body>
  <figure>
    <img src="/img/tomato.png">
  </figure>
  <h1>
    <%= title %>
  </h1>
  <p>
    Bienvenidos a <%= title %>
  </p>
  <ul>
    <li>
      Ir a:
    </li>
    <div class="box-me">
      <li>
        <a href="/movies">
          Películas
        </a>
      </li>
      <li>
        <a href="/movies/newest">
          Películas más nuevas
        </a>
      </li>
      <li>
        <a href="/movies/recommended">
          Películas recomendadas
        </a>
      </li>
    </div>
    <div class="box-me">
      <li>
        <a href="/genres">
          Géneros
        </a>
      </li>
    </div>
    <div class="box-me">
      <li>
        <a href="/actors">
          Actores
        </a>
      </li>
    </div>
  </ul>
</body>
</html>