<%- include ('./partials/head') %>
<body>
  <figure>
    <img src="/img/logo-DH.png">
  </figure>
  <h1>
    <%= title %>
  </h1>
  <p>
    Bienvenidos a <%= title %>
  </p>
  <ul>
    <li>
      Ir a:
    </li>
    <li>
      <a href="/movies">
        Películas
      </a>
    </li>
    <li>
      <a href="/movies/new">
        Nuevas primero
      </a>
    </li>
  </ul>
</body>
</html>