<%- include ('./partials/head') %>
<body class="body-box">
  <div class="img-box">
    <figure>
      <img src="/img/tomato.png">
    </figure>
  </div>
  <div class="content-box">
    <h1>
      <%= title %>
    </h1>
    <h2 id="welcome"></h2>
    <p>
      Bienvenido a <%= title %>
    </p>
    <ul>
      <li>
        Ir a:
      </li>
      <div class="box-me">
        <li>
          <a class="cool-link" href="/movies">
            Películas
          </a>
        </li>
        <li>
          <a class="cool-link" href="/movies/newest">
            Películas más nuevas
          </a>
        </li>
        <li>
          <a class="cool-link" href="/movies/recommended">
            Películas recomendadas
          </a>
        </li>
        <li>
          <a class="cool-link" href="/movies/add">
            Agregar una película
          </a>
        </li>
      </div>
      <div class="box-me">
        <li>
          <a class="cool-link" href="/genres">
            Géneros
          </a>
        </li>
      </div>
      <div class="box-me">
        <li>
          <a class="cool-link" href="/actors">
            Actores
          </a>
        </li>
      </div>
    </ul>
  </div>
  <script src="/js/index.js"></script>
</body>
</html>